.unvisible {
  display: none;
}

.site-wrapper {
  min-height: 100%;
  width: 100%;  
  overflow-x: hidden;
  // background-color: rgb(248, 166, 166);
}

.conteiner {
  max-width: $conteiner-size-desktop;
  margin:0 auto;
  position: relative;
  // background-color: rgb(248, 166, 166);
}

body {
  font-size: 16px;
  font-family: Oswald-Regular, Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .conteiner {
    max-width: $conteiner-size-tablet;
  }
}

@media (max-width: 768px) {
  .conteiner {
    max-width: $conteiner-size-mobile;
  }
}
