section.contacts
  .contacts__conteiner
    .contacts__info-wrap
      .contacts__info.contacts-info
        p.contacts-info__slogan приглашаем к сотрудничеству дилеров!
        p.contacts-info__adress.address
          span.address__street-home Площадь калинина, 2
          span.address__city Новосибирск
  .contacts__map#map