- let url_vk="https://vk.com/buymovsv"
- let url_github="https://github.com/sergei00787"
footer.footer
  .container.align-items-center
    .footer__wrap
      h3.footer__company
        span.company__name cat
        | energy
      ul.footer__socials.socials.site__list
        li.socials__item.socials__vk
          a.socials__item-link(href=url_vk)
            i.fa.fa-vk.fa-2x(aria-hidden="true")
        li.socials__item.socials__insta
          a.socials__item-link(href="#")
            i.fa.fa-instagram.fa-2x(aria-hidden="true")
        li.socials__item.socials__fb
          a.socials__item-link(href="#")
            i.fa.fa-facebook.fa-2x(aria-hidden="true")
      p.footer__developers-info.developers-info
        a.developers-info__github-link(href=url_github)
          span.developers-info__fio Буймов Сергей 
          i.fa.fa-github.fa-2x(aria-hidden="true")