.card__image {
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
  position: relative;
  overflow: hidden;
}

.card__image::after {
  content:"";
  background:#f2f2f2;
  height: 55%;
  width: 120%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  transform: rotate(10deg) translateY(25px);
}

.card__wrap {
  background: #f2f2f2;
  width: 100%;
}


@media (max-width: 768px) { 
  .card__wrap {
  background: none;
  height: auto;
  }

  .card__image {
    position: relative;
  }

  .card__image::after {
    content:none;
  }

}