.contacts {
  min-height: 400px;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts__conteiner {
  width: $conteiner-size-desktop;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
}

.contacts__info-wrap {
  width: 40%;
}

.contacts__info {
  margin: 0 40px 0 40px;
}

.contacts-info {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: white;
}

.contacts-info__slogan {
  display: inline-block;
  margin: auto 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.contacts-info__adress {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.address__street-home {
  @include primary-text;
}

.address__city {
  margin-top: 20px;
  @include primary-text;
}

.contacts__map {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right: 0;
}

.contacts__mappin {
  position: absolute;
  right: 290px;
  top: 160px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contacts {
    min-height: 200px;
    flex-direction: column;
  }

  .contacts__map {
    width: 100%;
    height: 400px;
    position: inherit;
  }

  .contacts-info {
    flex-direction: column;
  }

  .contacts__info-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contacts__info {
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: row;
  }

  .contacts-info__slogan {
    flex: 0 1 200px;
  }
  .contacts-info__adress {
    flex: 1 1 200px;
    align-self: flex-end;
    justify-self: flex-end;
  }
}

@media (max-width: 768px) {
  .contacts {
    min-height: 200px;
    flex-direction: column;
  }

  .contacts__map {
    width: 100%;
    min-height: 200px;
    position: inherit;
  }

.contacts__conteiner {
  width: 100%;
}

  .contacts-info {
    flex-direction: column;
  }

  .contacts__info-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contacts__info {
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: row;
  }

  .contacts-info__slogan {
    flex: 0 1 200px;
  }
  .contacts-info__adress {
    flex: 1 1 200px;
    align-self: flex-end;
    justify-self: flex-end;
  }
}