.main-info {
  width: 100%;
  height: auto;
}

.main-info__body {
  // margin: 0 0 0 40px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.main-info__text {
  margin-top: 150px;
  padding-left: 40px;
  padding-right: 20px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-info__title {
  font-size: 4rem;
}

.main-info__slogan {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.main-info__cat {
  min-height: 100%;
  flex: 0 0 50%;
  min-width: 350px;
  background: url("/../../img/index-background-desktop.png") top right / cover no-repeat;
}

.main-info__image {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 40%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-info__body {
    flex-direction: column;
    justify-content: flex-start;
    min-height: 500px;
    position: relative;
  }

  .main-info__cat {
    display: none;
  }

  .main-info__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 70px;
    z-index: 3;
  }

  .main-info__image {
    width: 600px;
    position: absolute;
    bottom: 10%;
    left: 25%;
  }

}

@media (max-width: 768px) {
  .main-info__body {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 130vw;
  }

  .main-info__text {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    text-align: center;
    position: absolute;   
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 3;
    padding: 0;
  }

  .main-info__title {
    color: white;
    font-size: 3rem;
    flex: 0 1 100px;
    padding: 0 10px;
    line-height: 3rem;
  }

  .main-info__slogan {
    margin: 40px auto 0;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0 10px;
    flex: 0 1 100px;
  }



  .main-info__button-conteiner {
    display: inline-block;
    margin-top: auto;
    justify-self: end;
    width: 100%;
  }

  .main-info__button {
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 20px 10px;
  }


  .main-info__cat {
    display: block;
    width: 100%;
    min-height: 70%;
  }

  .main-info__image {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: auto;
    margin: 0 auto;
    bottom: 30px;
    left: 10%;
    width: 80%;
  }

}
